/*
File for sizes, breakpoints, margins, padding etc.
*/

$small-font: 0.7rem;
// Breakpoints
$breakpoint-xs: 360dp;
$breakpoint-sm: 600dp;
$breakpoint-md: 960dp;
$breakpoint-lg: 1280dp;
$breakpoint-xl: 1920dp;

// Padding

$padding-xs: 0.3em;
$padding-sm: 0.9em;
$padding-md: 1.5em;
$padding-lg: 2em;
$padding-xl: 3em;

// Margin

$margin-xs: 1.0em;
$margin-sm: 1.9em;
$margin-md: 2.5em;
$margin-lg: 3.5em;
$margin-xl: 4em;